* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff), (#4040ff), (#03396c), (#000080);
    background-size: 180% 180%;
    animation: gradient 6s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(7, 9, 10);
}
.container {
    height: 20rem;
    width: 35rem;
    background-color: rgb(152, 228, 165);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid rgb(14, 43, 1);
}